@media (max-width: 568px) {
  .my-element {
    font-size: 10px;
    color: aquamarine;
  }
}

@media (min-width: 568px) and (max-width: 800px) {
  .my-element {
    font-size: 18px;
    color: red;
  }
}

@media (min-width: 800px) {
  .my-element {
    font-size: 90px;
    color: black;
  }
}